@font-face {
  font-family: 'letters_for_learnersregular';
  src: url('../fonts/letters_for_learners-webfont.woff2') format('woff2'),
  url('../fonts/letters_for_learners-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --board-color: #00551e;
  --board-border-color: #6c3404;
  --error-color: #ec0000;
  --outline-color: #e59700;
  --font-color: #ffffff;
  --info-popup-color: #1e4975;
  --button-color: #191970;
  --button-hover-color: #0c0c50;
  --button-disabled: #808080;
  --can-approve-color: rgba(169, 169, 19, 0.56);
  --has-approved-color: rgba(0, 163, 169, 0.56);
  --settings-popup-color: rgba(184, 134, 11, 0.99);
  --overlay: rgba(0, 0, 255, 0.31);
  --bottom-menu-color: #355440;

  --main-font: 'letters_for_learnersregular';
}

*, ::before, ::after {
  box-sizing: border-box;
}

*:focus {
  outline: var(--outline-color) solid 5px;
}

html {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 10px;
  border: 10px solid var(--board-border-color);
  font-family: var(--main-font), sans-serif;
  font-size: 24px;
  color: var(--font-color);
  background: var(--board-color);
  overflow: hidden;
}

a {
  text-decoration: none;
  line-height: 1;
  color: inherit;
}

.board-title {
  text-align: center;
}

/** Login form **/
.login-form {
  text-align: center;
}

.login-form label {
  display: block;
}

.how-can-i-get {
  font-size: 14px;
  text-decoration: underline;
}

/** Button **/
.button {
  background: var(--button-color);
  color: var(--font-color);
  border: 0;
  padding: 10px;
  box-shadow: none;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background: var(--button-hover-color);
}

.button:disabled,
.button[disabled] {
  background: var(--button-disabled);
  pointer-events: none;
}

/** Popup **/
.opened-popup,
.something-went-wrong {
  display: flex;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--info-popup-color);
  z-index: 3;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px);
  animation: popup 2s linear forwards;
}

.something-went-wrong {
  background: var(--error-color);
}

@keyframes popup {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

/** Loading **/
.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--overlay);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.blurred {
  filter: blur(5px);
}

.active-progress {
  animation: progress 3s linear infinite;
}

@keyframes progress {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg);
  }
}

/** Settings **/
.settings-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.settings-popup {
  position: fixed;
  width: 50vw;
  height: 50vh;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: var(--settings-popup-color);
  z-index: 4;
  text-align: center;
}

.close-popup {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: 0;
  border-radius: 0;
  font-size: 20px;
  cursor: pointer;
}

.close-popup::after {
  content: '';
  position: absolute;
  right: -5px;
  top: -5px;
  left: -5px;
  bottom: -5px;
}

/** List of merge requests **/
ol {
  max-height: 70vh;
  padding: 0 40px;
  overflow-y: scroll;
}

ol li {
  margin: 3px 0;
  padding: 3px 0;
}

summary {
  cursor: pointer;
}

details {
  text-indent: -32px;
  padding-left: 32px;
}

fieldset {
  max-width: 50vw;
  width: 100%;
  margin: 0 auto;
}

.user-can-approve {
  background: var(--can-approve-color);
}

.user-has-approved {
  background: var(--has-approved-color);
}

.author-name {
  font-style: italic;
  pointer-events: none;
}

/** Bottom menu **/
.bottom-menu {
  background: var(--bottom-menu-color);
  width: calc(100vw - 20px);
  margin-left: -10px;
  position: fixed;
  bottom: 10px;
}

.legend {
  display: inline-block;
  float: right;
  margin-top: 4px;
}
